<section class="basicInfo" id="basicInfo">
    <div class="boxTitle">
        <span>教育经历</span>
    </div>
    <div class="boxContent" id="education">
        <div class="topline"></div>
        <div class="content" >
            <p>重庆理工大学</p>
            <p>计算机科学与工程学院-软件工程</p>
            <p>全日制本科</p>
            <span class="time">2011.09-2017.07</span>
            <div class="content-image cqutlogo"><img src="../images/cqutlogo.png"></div>
        </div>
        <div class="bottomline"></div>
    </div>
</section>