<section class="basicInfo" id="basicInfo">
    <div class="boxTitle">
        <span>项目经验</span>
    </div>
    <div class="boxContent" id="experience">
        <div class="experience-content" >
            <h3>重庆市桥隧信息管理系统</h3>
            <ul class="experience-text">
                <li>负责搭建前端框架,完成其中4个功能模块,每个模块均实现从前端页面到数据库的所有功能。</li>
                <li><b>SPA,前后端分离</b>,5~6人团队,约十个大功能模块,<b>工程化开发</b>,每个功能模块均是一个小的MVC架构。</li>
                <li>使用fis3集成框架优化代码,基于<b>Angularjs</b>框架处理数据,使用SVN进行版本管理。</li>
                <li>服务器端使用java语言SSH框架、MYSQL数据库,实现了<b>RestfulApi规范。</b></li>
                <li><b>开发环境：</b>Windows10+MyEclipse2014+WebStorm2016</li>
            </ul>
            <div class="experience-image"><img src="../images/bridge.png"></div>
            <span class="time">2016.08-2016.12</span>
            <span class="arrow"></span>
        </div>
    </div>
</section>