<header>
    <span class="name">谭汉</span>
    <span class="job">web前端开发工程师</span>
    <soan class="weixinCode"><img alt="wechat" src="../images/weixin.png"></soan>
    <span class="connection">
        <img alt="邮箱" src="../images/Email.png">
        <script>document.write(['com','qq','1024074941'].reverse().join('.').replace('.','@'))</script>
        <img alt="联系电话" src="../images/tel.png" style="height:24px;">
        <script>if(window.atob){document.write(window.atob('MDEyMzE1MzEwODcyNTA2').slice(4))}else{document.write('please use IE10+ watch TEL')}</script>
    </span>
</header>