<section class="basicInfo" id="basicInfo">
    <div class="boxTitle">
        <span>技能点</span>
    </div>
    <div class="boxContent">
        <div class="content" id="skill">
            <div class="skill1">Javascript</div>
            <div class="skill2">HTML(5)&&CSS(3)</div>
            <div class="skill3">Angular1</div>
            <div class="skill4">Node.js</div>
            <div class="skill5">Phtoshop</div>
            <div class="remark">
                <p>有SVN/git等版本管理工具的使用经验；</p>
                <p>具有fis3等前端自动化框架使用经验，了解前端工程化的相关知识；</p>
                <p>了解计算机网络的基本知识，了解前端技术中的MV*架构，了解AMD/CMD/Commonjs规范，能根据原型图精确实现页面结构。</p>
            </div>
        </div>
    </div>
</section>